<html style = "border:7px; border-style:solid; border-color:008080; background-color:#FFFAF1;">

	<body>
	<br>
	<p align = "right"><font size = "4">JPJC SALON WEBSITE: UPDATE MEMBER DETAILS</font></p>
		<table>
			<tr>
				<td><p style = "margin-left:40px;"><img src = "{{ url_for('static',filename = 'barbershop_pole.gif')}}" alt = "barbershop pole gif" width = "150 height = "150></p></td>
				<td><p style = "margin-left:20px;"><font size = "5" color = "#FF69B4">JPJC SALON STAFF WEBSITE</p></td>
			</tr>
		</table>
	<br>
	</body>
	
	<body>
		<h1 align = "center" style = "font-size:80px;"><font color = "#a0d6b4">UPDATE MEMBER DETAILS</font></h1>
	</body>
	
	<body>
	<form action = "{{ url_for('submit_update_details') }}" method = "POST">
		<table align = "center" width = "600" style = "border:solid; border-color:#40E0D0; padding:4em;">
			<tr>
				<td><p><font size = "5">Member ID</font></p></td>
				<td><p><input name = "memberid" type = "text"></p></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><p><font size = "5">Update E-mail Address</font></p></td>
				<td><p><input name = "email" type = "text"></p></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><p><font size = "5">Update Contact Number</font></p></td>
				<td><p><input name = "contact number" type = "text"></p></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><br/></td>
			</tr>
			<tr>
				<td><p align = "right"><input type = "submit" style = "width:90px; height:35px;" value = "SUBMIT"></p></td>
			</tr>
		</table>
	</form>
	</body>
	
	<br><br><br><br>
	
	<body>
		<p align = "left" style = "border:dotted; border-color:black; padding:1em;"><font size = "3"><i>Do serve customers with a smile! Remember to practice good hygiene and ensure that
		customers are respected at all times.</i></font></p>
	</body>
	
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	